body {
  background-color: #d8dcd7;
}

.navbar {
  background-color: #d8dcd7;
}

@media screen and (max-width: 992px) {
  #use .container .use__img {
    display: flex;
    justify-content: center;
  }
}
